:root {
    --nav-color   : #f3801d;
    --second-color: #f2bd8e;
    --hover-color : #f2bd8e;
    --nd-nav-color: #017e84;
}

.oe_kanban_details .oe_kanban_action.oe_kanban_action_a {
    color: var(--nav-color) !important;
}

.list-group-item.active {
    background: var(--second-color) !important;
}

.o_list_renderer .o_list_table tbody>tr>td.o_list_button:not(.o_list_record_selector)>button {
    color: var(--nav-color) !important;
}

.text-action {
    --color: RGBA(1, 126, 132, var(--text-opacity, 1)) !important;
}

:not(.dropstart)>.dropdown-item.active:not(.dropdown-item_active_noarrow):before,
:not(.dropstart)>.dropdown-item.selected:not(.dropdown-item_active_noarrow):before {
    color: var(--nd-nav-color) !important;
}

.o_main_navbar {
    background       : var(--nav-color) !important;
    border-bottom    : 1px solid var(--nav-color) !important;
    // padding-top: 10px;
    // padding-bottom: 10px;

    .o_menu_sections .dropdown-toggle {
        background: var(--nav-color) !important;

        &:hover {
            background: var(--NavBar-entry-backgroundColor--hover, rgba(0, 0, 0, 0.08)) !important;
        }
    }

    .o_menu_brand {
        color: var(--NavBar-brand-color, rgba(255, 255, 255, 0.9)) !important;
    }
}

.bg-action,
.text-bg-action {
    background-color: var(--nav-color) !important;
}

.text-primary {
    color: var(--nav-color) !important;
}

.text-truncate.fw-bold {
    color: var(--nav-color) !important;
}

.o_doc_link {
    color: var(--nav-color) !important;
}

.oe_kanban_action.oe_kanban_action_a {
    color: var(--nav-color) !important;
}

.o_kanban_renderer .oe_kanban_card .o_dropdown_kanban .dropdown-menu, .o_kanban_renderer .o_kanban_record .o_dropdown_kanban .dropdown-menu {
    
    .dropdown-item {
        color: #495057 !important;
    }
}

.o-dropdown--menu .dropdown-item:not(.disabled):not(:disabled),
.o-dropdown--menu .dropdown-item:not(.disabled):not(:disabled) label {
    // color: var(--nav-color)!important;
}

.o-dropdown--menu .dropdown-item:not(.disabled):not(:disabled),
.o-dropdown--menu .dropdown-item:not(.disabled):not(:disabled) label {
    // color: var(--nav-color)!important;
}

.btn-primary {
    background-color: var(--nav-color) !important;
    border-color    : var(--nav-color) !important;

    &:hover {
        background-color: var(--hover-color) !important;
    }
}

.btn-outline-primary {
    color: var(--nav-color) !important;
    ;
    border-color: var(--nav-color) !important;
    ;

    &:hover {
        background-color: var(--hover-color) !important;
        color           : var(--NavBar-brand-color, rgba(255, 255, 255, 0.9)) !important;
    }
}

.btn-check:checked+.btn-secondary,
.btn-check:active+.btn-secondary,
.btn-secondary:active,
.btn-secondary.active,
.show>.btn-secondary.dropdown-toggle {
    border-color    : var(--nav-color) !important;
    background-color: var(--second-color) !important;
}

.o_field_statusbar>.o_statusbar_status>.o_arrow_button.o_arrow_button_current:not(.d-none):disabled,
.o_field_statusbar>.o_statusbar_status>.o_arrow_button:not(.d-none):active:not(.o_first) {
    border-color    : var(--nav-color) !important;
    background-color: var(--second-color) !important;
}

.o_field_statusbar>.o_statusbar_status>.o_arrow_button.o_arrow_button_current:not(.d-none):disabled,
.o_field_statusbar>.o_statusbar_status>.o_arrow_button:not(.d-none):active:not(.o_first) {
    border-color    : var(--nav-color) !important;
    background-color: var(--second-color) !important;
}

.o_field_statusbar>.o_statusbar_status>.o_arrow_button.o_arrow_button_current:not(.d-none):disabled:before,
.o_field_statusbar>.o_statusbar_status>.o_arrow_button.o_arrow_button_current:not(.d-none):disabled+.btn:before,
.o_field_statusbar>.o_statusbar_status>.o_arrow_button:not(.d-none):active:not(.o_first):before,
.o_field_statusbar>.o_statusbar_status>.o_arrow_button:not(.d-none):active:not(.o_first)+.btn:before {
    border-left-color: var(--nav-color) !important;
}

.o_field_statusbar>.o_statusbar_status>.o_arrow_button.o_arrow_button_current:not(.d-none):disabled:after,
.o_field_statusbar>.o_statusbar_status>.o_arrow_button:not(.d-none):active:not(.o_first):after {
    border-left-color: var(--second-color) !important;
}

.o_main_navbar .o_menu_sections .o_nav_entry,
.o_main_navbar .o_menu_sections .dropdown-toggle {
    background-color: var(--nav-color) !important;
    color           : var(--NavBar-brand-color, rgba(255, 255, 255, 0.9)) !important;

    &:hover {
        background: var(--NavBar-entry-backgroundColor--hover, rgba(0, 0, 0, 0.08)) !important;
    }
}

.o-form-buttonbox .o_pie_value,
.o-form-buttonbox .oe_stat_button .o_stat_info .o_stat_value,
.o-form-buttonbox .oe_stat_button>span .o_stat_value,
.o-form-buttonbox .oe_stat_button .o_field_statinfo .o_stat_value {
    color: var(--nav-color) !important;
}

.o-form-buttonbox .oe_stat_button .o_button_icon {
    color: var(--nav-color) !important;
}

.form-check-input:checked {
    background-color: var(--nav-color) !important;
    border-color    : var(--nav-color) !important;
}

// .o_tag.o_tag_color_0, .o_tag.o_tag_color_0::after {
//     background-color:  var(--second-color) !important;
// }
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: var(--nav-color) !important;
}

.nav-link {
    color: #495057 !important;
}

.o_form_view .o_form_uri>span:first-child {
    color: var(--nav-color) !important;
}

.btn-link {
    color: var(--nav-color) !important;
}

.o_loading_indicator.o-fade.o-fade-enter-active {
    background-color: var(--nav-color) !important;
}

.btn-new-action {
    padding: 8px !important;
    margin: 0 6px !important;

    &:nth-child(1) {
        margin-left: 0 !important;
    }
    &:nth-child(2) {
        margin-right: 0 !important;
    }
}
.so_luong_text_wrap {
    margin-top: 18px !important;

    .so_luong_text {
        display    : flex !important;
        align-items: center !important;
        justify-content: space-between;
    }
    .so_luong_icon {
        margin-left: 4px;
        border-radius   : 50%;
        background-color: var(--nav-color) !important;
        color           : #fff;
        width           : 30px;
        height          : 30px;
        display         : inline-flex;
        justify-content : center;
        align-items: center;

        span {
            font-size: 18px;
        }
    }
}
.o_kanban_dashboard.o_account_kanban .o_kanban_renderer.o_kanban_ungrouped .o_kanban_record {
    width: 450px;
}
