:root {
    --main-color   : #1597b3;
    --second-color : #97cfdb;
    --hover-color  : #97cfdb;
    --nd-main-color: #017e84;
}

* {
    font-family: Montserrat, sans-serif !important;
    line-height: 1.5 !important;
    outline    : none !important;
}

.header-custome {

    .header-logo {
        width          : 60px;
        margin         : 0;
        display        : flex;
        align-items    : center;
        justify-content: center;

        img {
            width : 100%;
            height: 100%;
        }
    }

    .search-btn {
        color       : var(--main-color);
        border-color: var(--main-color);

        &:hover {
            color           : #fff;
            background-color: var(--second-color);
        }
    }
}

.inner-header {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin-bottom  : 32px;
    margin-top     : 8px;

    .pull-right {
        margin-right: 28px;
    }

    .pull-right {
        h3 {
            color      : transparent;
            font-size  : 24px;
            font-weight: 600;
            user-select: none;
        }
    }

    .pull-left {
        margin-top: 8px;
        color     : var(--main-color);

        a {
            text-decoration: none;
            color          : var(--main-color);

            &:hover {
                color: var(--second-color);
            }
        }

        span {
            color      : #000;
            user-select: none;
        }
    }
}

.sort-bar {
    font-weight    : 400;
    background     : rgba(0, 0, 0, .03);
    padding        : .8125rem 1.25rem;
    border-radius  : 2px;
    display        : flex;
    align-items    : center;
    justify-content: space-between;

    .sort-bar__label {
        color : #555;
        margin: 0 .3125rem 0 0;
        
        span {
            display: inline-block;
        }
        .sort-icon {
            display: none;
        }
    }

    .sort-by-options {
        display        : flex;
        align-items    : stretch;
        flex           : 1;
        grid-gap       : .625rem;
        gap            : .625rem;
        justify-content: flex-start;

        .sort-by-options__option-group {
            display    : flex;
            grid-gap   : .625rem;
            gap        : .625rem;
            margin-left: .625rem;
        }

        .sort-by-options__option {
            overflow           : visible;
            outline            : 0;
            cursor             : pointer;
            -webkit-user-select: none;
            -moz-user-select   : none;
            user-select        : none;
            position           : relative;
            display            : flex;
            min-width          : 5.625rem;
            align-items        : center;
            justify-content    : center;
            text-transform     : capitalize;
            padding            : 0 .9375rem;
            background         : #fff;
            white-space        : nowrap;
            box-sizing         : border-box;
            box-shadow         : 0 1px 1px 0 rgba(0, 0, 0, .02);
            height             : 2.125rem;
            line-height        : 2.125rem;
            border-radius      : 2px;
            border             : 0;
            color              : #000;
            font-size          : 14px;
            text-decoration    : none;

            &--selected {
                background: var(--main-color) !important;
                color     : #fff !important;
            }
        }
    }

    .sort-price-select {
        text-align     : left;
        cursor         : pointer;
        border         : 0;
        border-radius  : 2px;
        height         : 2.125rem;
        line-height    : 2.125rem;
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        position       : relative;
        box-sizing     : border-box;
        min-width      : 12.5rem;
        background     : #fff !important;
        color          : #000 !important;
        transition     : border-color .1s ease;
        padding-left   : .75rem;
        box-shadow     : 0 1px 1px 0 rgba(0, 0, 0, .02);
        font-size      : 14px;

        &.active {
            color: var(--main-color) !important;
        }
    }

    .dropdown-item {

        &:active {
            background-color: var(--main-color) !important;
        }
    }
}



.department_extra-infor {
    display       : flex;
    flex-direction: column;
    width         : 100%;

    .title {
        font-size  : 24px;
        font-weight: bold;
    }

    .content {
        display       : flex;
        flex-direction: column;
        overflow      : hidden;

        &.non_click {
            height: 150px;
        }
    }

    .more-infor_btn {
        margin         : 0px;
        padding        : 0px;
        text-decoration: none;
        word-wrap      : break-word;
        cursor         : pointer;
        color          : #288ad6;
        margin-top     : 12px;
        user-select    : none;
    }
}

.each-doctor {
    display            : flex;
    flex-basis         : auto;
    flex-shrink        : 0;
    // min-width       : 1000px;
    max-width          : 1200px;
    min-height         : 300px;
    margin             : 0 auto;
    margin-bottom      : 12px;
    padding            : 10px;
    border             : 0 solid black;
    box-sizing         : border-box;
    background-color   : #fff;
    border-radius      : 8px;
    box-shadow         : rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .dt-content-left {
        width        : 50%;
        border-right : 1px solid #eee;
        padding-right: 14px;

        .intro-doctor .content-left {
            width : 90px !important;
            height: 90px !important;
        }

        .profile-doctor {
            width: 100%;

            .intro-doctor {
                display      : flex;
                margin-bottom: 12px;

                .content-left {
                    width              : 120px;
                    height             : 120px;
                    background-position: center center;
                    background-repeat  : no-repeat;
                    background-size    : cover;
                    border-radius      : 50%;
                    margin             : 10px 20px;
                    margin-left        : 0;
                    position           : relative;

                    .show-more {
                        position : absolute;
                        bottom   : -30px;
                        display  : inline-block;
                        width    : max-content;
                        left     : 50%;
                        transform: translateX(-50%);
                        cursor   : pointer;

                        a {
                            outline    : none;
                            font-size  : 14px;
                            font-weight: bold;
                            color      : #337ab7;
                        }
                    }
                }

                .content-right {
                    width         : 80%;
                    display       : flex;
                    flex-direction: column;
                    padding-left  : 10px;
                    flex          : 1;

                    .up {
                        font-size  : 18px;
                        font-weight: 600;
                        padding-top: 10px;
                        color      : #45C3D6;
                    }

                    .down {
                        padding-top: 10px;

                        span {
                            text-align: justify;
                            font-size : 14px;
                        }
                    }
                }
            }
        }
    }

    .dt-content-right {
        width       : 50%;
        margin-top  : 12px;
        padding-left: 14px;

    }
}

.doctor-schedule {
    margin-bottom: 10px;

    .doctor-schedule-container {

        .all-schedule {

            select {
                position     : relative;
                display      : block;
                padding      : 4px 4px 10px;
                position     : relative;
                box-shadow   : 0 15px 30px -10px transparentize(#000, 0.9);
                cursor       : pointer;
                border       : none;
                border-bottom: 1px solid #ccc;
                outline      : none;
                font-size    : 14px;
                font-weight  : bold;
                color        : #337ab7;
                background   : none;
            }
        }

        .all-available-time {
            margin-top: 14px;

            .title-calendar {
                margin-bottom: 8px;

                i {
                    margin-right: 4px;
                }

                span {
                    text-transform: uppercase;
                    font-weight   : bold;
                }
            }

            .time-content {

                .time-content-btn-box {
                    display  : flex;
                    gap      : 10px;
                    flex-wrap: wrap;

                    button {
                        min-width       : 160px;
                        font-size       : 14px;
                        font            : 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                        padding         : 10px 14px;
                        background-color: #FFC10E;
                        border-radius   : 0;
                        border          : none;

                        &:hover {
                            // --tw-shadow     : 0px 0px 0px 2px #45c5d2 inset !important;
                            // --tw-ring-shadow: 0 0 #0000;
                            // box-shadow      : var(--tw-ring-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
                            background-color: #45c5d2;
                            color           : #fff;
                            font-weight     : bold;
                        }
                    }
                }
            }

            .book-free {
                margin-top: 8px;
                font-style: 10px;
                font      : 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            }
        }
    }
}

.doctor-extraInfor {
    padding-top   : 10px;
    padding-bottom: 10px;
    border-top    : 1px solid #eee;

    .doctor-extra-infor-container {

        .content-up {
            padding-bottom: 10px;
            border-bottom : 1px solid #ccc;

            .text-address {
                text-transform: uppercase;
                color         : #6f6f6f;
                font-weight   : bold;
                font-size     : 14px;
            }

            .clinic-name {
                font-weight: bold;
                padding    : 5px 0;
            }

            .detail-address {
                font-size: 14px;
            }

        }

        .content-down {
            padding-top: 10px;

            .btn-hide-show-detail {

                color: rgba(72, 196, 211, 1.00);

                &:hover {
                    opacity: 0.8;
                    cursor : pointer;
                }
            }

            .price-title {
                text-transform: uppercase;
                color         : #6f6f6f;
                font-weight   : bold;
                font-size     : 14px;
            }

            .price-title-pop-up {
                display        : flex;
                justify-content: space-between;
                align-items    : center;
            }

            .price-number {
                // font: 14px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
                font-weight: 400;
            }

            .detail-price {
                border          : 1px solid #ccc;
                background-color: #f5f4f4;
                padding         : 8px 4px;
            }

            .comment-doctor {
                border          : 1px solid #ccc;
                background-color: #e4e4e4;
                padding         : 8px 4px;
            }

            .note {
                margin-top: 6px;
            }

            .hide-price {
                margin-top: 10px;
            }

        }
    }
}

.wrapper {

    .doctor-detail-container {
        .intro-doctor {
            display     : flex;
            margin      : 0 120px;
            max-width   : 1140px;
            margin-right: auto;
            margin-left : auto;

            .content-left {
                margin     : 10px 20px;
                margin-left: 0;

                .doctor-avatar {
                    width              : 120px;
                    height             : 120px;
                    background-position: center center;
                    background-repeat  : no-repeat;
                    background-size    : cover;
                    border-radius      : 50%;
                }
            }

            .content-right {
                width         : 80%;
                display       : flex;
                flex-direction: column;
                padding-left  : 10px;

                .up {
                    font-size  : 20px;
                    font-weight: 600;
                    padding-top: 10px;
                }

                .down {
                    padding-top: 10px;

                    .like-share-plugin {
                        margin : 10px 0 20px 0;
                        display: block !important;
                    }
                }
            }
        }

        .schedule-doctor {
            margin       : 0 120px;
            margin-bottom: 24px;
            display      : flex;
            min-height   : 120px;
            margin-top   : 18px;
            max-width    : 1140px;
            margin-right : auto;
            margin-left  : auto;

            .content-left {
                width       : 50%;
                border-right: 1px solid #ddd;
            }

            .content-right {
                width       : 50%;
                padding-left: 14px;
            }
        }

        .detail-infor-doctor-wrap {
            border-top      : 1px solid #ddd;
            border-bottom   : 1px solid #ddd;
            background-color: #f1f1f1;
            padding         : 20px 120px;

            .detail-infor-doctor {
                max-width   : 1140px;
                margin-right: auto;
                margin-left : auto;

                h1,
                h2,
                h3 {
                    font-size    : 16px;
                    padding      : 20px 0;
                    margin-bottom: 20px;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    .on_department-register_walkin-wrapper,
    .register_walkin-wrapper {
        z-index         : 3000;
        position        : fixed;
        left            : 0;
        top             : 0;
        width           : 100%;
        height          : 100%;
        overflow        : auto;
        background-color: rgba(0, 0, 0, 0.4);
        display         : none;
        transition      : all 0.5s ease-out;
        animation       : fade ease 0.5s;

        @keyframes fade {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        #register_walkin,
        #on_department-register_walkin {
            position        : absolute;
            width           : 1140px;
            max-height      : 812px;
            top             : 50%;
            left            : 50%;
            transform       : translateX(-50%) translateY(-50%);
            background-color: #fff;
            z-index         : 100;
            border-radius   : 20px;

            .formbold-main-wrapper {
                display         : flex;
                align-items     : center;
                justify-content : center;
                flex-direction  : column;
                padding         : 26px;
                background-color: #fff;

                .close-btn {
                    position : absolute;
                    font-size: 30px;
                    top      : 0;
                    right    : 0;
                    padding  : 8px;
                    margin   : 0 4px;
                    color    : var(--main-color);
                    cursor   : pointer;

                    &:hover {
                        color: var(--second-color);
                    }
                }
            }

            .formbold-form-wrapper {
                width     : 100%;
                background: white;
                padding   : 12px;


                .form-group.invalid input {
                    border-color: #f33a58 !important;
                }

                .form-group.invalid .form-message {
                    color: #f33a58;
                }

                .form-check-input {

                    &:checked {
                        background-color: var(--main-color) !important;
                        border-color    : var(--main-color) !important;
                    }
                }

                .form-message {
                    font-size  : 14px;
                    line-height: 1.6rem;
                    padding    : 4px 0 0;
                }
            }

            .formbold-form-label {
                display      : block;
                font-weight  : 500;
                font-size    : 16px;
                color        : #07074d;
                margin-bottom: 12px;
                user-select  : none;
            }

            .formbold-form-label-2 {
                font-weight  : 600;
                font-size    : 20px;
                margin-bottom: 20px;
            }

            .formbold-form-input {
                width        : 100%;
                padding      : 12px 24px;
                border-radius: 6px;
                border       : 1px solid #e0e0e0;
                background   : white;
                font-weight  : 500;
                font-size    : 16px;
                color        : #6b7280;
                outline      : none;
                resize       : none;
                color        : var(--main-color)
            }

            .formbold-form-input:focus {
                border-color: #6a64f1;
                box-shadow  : 0px 3px 8px rgba(0, 0, 0, 0.05);
            }

            .formbold-btn {
                text-align      : center;
                font-size       : 16px;
                border-radius   : 6px;
                padding         : 14px 32px;
                border          : none;
                font-weight     : 600;
                background-color: var(--main-color);
                color           : white;
                width           : 100%;
                cursor          : pointer;

                &:hover {
                    background-color: var(--second-color);
                    color           : #000;
                }
            }

            .formbold-btn:hover {
                box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
            }

            .formbold--mx-3 {
                margin-left : -12px;
                margin-right: -12px;
            }

            .formbold-px-3 {
                padding-left : 12px;
                padding-right: 12px;
            }

            @media (min-width: 540px) {
                .sm\:w-half {
                    width: 50%;
                }
            }
        }
    }
}

.department-list-wrapper {
    margin: 0 0 24px;

    .department-list {
        align-items     : stretch;
        background-color: rgba(0, 0, 0, 0.00);
        border          : 0 solid black;
        box-sizing      : border-box;
        display         : flex;
        flex-basis      : auto;
        flex-shrink     : 0;
        list-style      : none;
        margin          : 0px;
        min-height      : 0px;
        min-width       : 0px;
        padding         : 0px;
        position        : relative;
        text-decoration : none;
        z-index         : 0;
        flex-wrap       : wrap;

        .department-item {
            background-color: rgba(0, 0, 0, 0.00);
            color           : rgba(0, 0, 0, 1.00);
            display         : inline;
            font            : 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            list-style      : none;
            margin          : 0px;
            padding         : 8px;
            position        : relative;
            text-align      : center;

            &:hover {
                border: 1px solid rgba(21, 151, 179, 0.3);
            }

            .department-img {
                width : 100%;
                height: 90%;

                img {
                    width     : 100%;
                    height    : 100%;
                    object-fit: cover;
                }
            }

            .department-name {
                font-weight: bold;
                font-size  : 16px;
                margin     : 8px 0;
                display    : block;
            }
        }
    }
}

.doctor-list-wrapper {
    margin: 0 0 24px;

    .doctor-list {
        align-items     : stretch;
        background-color: rgba(0, 0, 0, 0.00);
        border          : 0 solid black;
        box-sizing      : border-box;
        display         : flex;
        flex-basis      : auto;
        flex-shrink     : 0;
        list-style      : none;
        margin          : 0px;
        min-height      : 0px;
        min-width       : 0px;
        padding         : 0px;
        position        : relative;
        text-decoration : none;
        z-index         : 0;
        flex-wrap       : wrap;

        .doctor-item {
            background-color: rgba(0, 0, 0, 0.00);
            color           : rgba(0, 0, 0, 1.00);
            display         : inline;
            font            : 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            list-style      : none;
            margin          : 0px;
            padding         : 12px;
            position        : relative;
            text-align      : center;

            &:hover {
                border: 1px solid rgba(21, 151, 179, 0.3);
            }

            .doctor-img {
                width : 100%;
                height: 264px;

                img {
                    width     : 100%;
                    height    : 100%;
                    object-fit: cover;
                }
            }

            .doctor-name {
                font-weight: bold;
                font-size  : 16px;
                margin     : 8px 0 0;
                display    : block;
            }

            .doctor-department-name {
                font-size  : 14px;
                display    : block;
                color      : var(--main-color);
                font-weight: bold;
            }
        }
    }
}

@media (min-width: 992px) {

    #register_walkin,
    #on_department-register_walkin {
        width: 1024px !important;
    }
}

@media (max-width: 540px) {

    #register_walkin,
    #on_department-register_walkin {
        width: 100% !important;

        .formbold-main-wrapper {
            padding: 0;
        }
    }
}

.slideshow-wrapper {
    .slideshow-container {
        max-width: 1400px;
        height   : 480px;
        position : relative;
        margin   : auto;
    }

    // ẩn hình ảnh cho phần tử slideshow
    .mySlides {
        display: none;
        width  : 100%;
        height : 100%;

        img {
            width     : 100%;
            height    : 100%;
            object-fit: cover;
        }
    }

    // thiết kế nút mũi tên
    .prev,
    .next {
        cursor       : pointer;
        position     : absolute;
        top          : 50%;
        transform    : translateY(-50%);
        width        : auto;
        padding      : 16px;
        color        : white;
        font-weight  : bold;
        font-size    : 42px;
        transition   : 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select  : none;

        // thiết lập nút mũi tên next nằm phía bên phải
        &.next {
            right        : 0;
            border-radius: 12px 0 0 12px;
        }

        &.prev {
            left         : 0;
            border-radius: 0 12px 12px 0;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    // thiết lập style cho nội dung của mỗi phần tử slideshow
    .text {
        color     : #f2f2f2;
        font-size : 15px;
        padding   : 8px 12px;
        position  : absolute;
        bottom    : 8px;
        width     : 100%;
        text-align: center;
    }

    // thiết lập style cho số hiển thị của phần tử
    .numbertext {
        color    : #f2f2f2;
        font-size: 12px;
        padding  : 8px 12px;
        position : absolute;
        top      : 0;
    }

    // thiết lập style nút tròn điều khiển
    .dot {
        cursor          : pointer;
        height          : 15px;
        width           : 15px;
        margin          : 0 12px;
        background-color: var(--second-color);
        border-radius   : 20%;
        display         : inline-block;
        transition      : background-color 0.6s ease;

        &.active,
        &:hover {
            background-color: var(--main-color);
        }
    }

    // tạo hiệu ứng chuyển động fade
    .fade2 {
        @-webkit-keyframes fade2 {
            from {
                opacity: .4;
            }

            to {
                opacity: 1;
            }
        }

        @keyframes fade2 {
            from {
                opacity: .4;
            }

            to {
                opacity: 1;
            }
        }

        -webkit-animation-name    : fade2;
        -webkit-animation-duration: 1.5s;
        animation-name            : fade2;
        animation-duration        : 1.5s;
    }
}

.toast {
    display         : none;
    align-items     : center;
    background-color: #fff;
    border-radius   : 2px;
    border-left     : 4px solid;
    box-shadow      : 0 5px 8px rgba(0, 0, 0, 0.08);
    min-width       : 500px;
    transition      : all linear 0.2s;
    animation       : slideInLeft ease 0.3s;

    @keyframes slideInLeft {
        from {
            opacity  : 0;
            transform: translateX(calc(100% + 32px));
        }

        to {
            opacity  : 1;
            transform: translateX(0);
        }
    }

    @keyframes fadeOut {
        to {
            opacity: 0;
        }
    }

    &.show {
        display: flex !important;
        opacity: 1;
    }

    &.hide {
        display: none !important;
        opacity: 0;
    }

    &__icon {
        font-size: 24px;
    }

    &__icon,
    &__close {
        padding: 0 16px;
    }

    &__body {
        flex-grow: 1;
        padding  : 12px 0;
    }

    &__title {
        font-size  : 16px;
        font-weight: 600;
        color      : #333;
    }

    &__msg {
        font-size  : 16px;
        font-weight: bold;
        font-size  : 16px;
        margin-top : 6px;
        line-height: 1.5;
    }

    &__sub-msg {
        font-size : 14px;
        margin-top: 4px;
        color     : #333;
    }

    &__close {
        color : rgba(0, 0, 0, 0.8);
        cursor: pointer;

        .icon__close {
            padding: 0 3px;
        }
    }

    &--success {
        color       : #47d864;
        border-color: #47d864;
    }

    &--error {
        color       : #ff623d;
        border-color: #ff623d;
    }
}

#toast {
    position : fixed;
    top      : 32px;
    // right: 32px;
    right    : 50%;
    transform: translateX(50%);
    z-index  : 10000;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .slideshow-wrapper {
        .slideshow-container {
            height: 172px;

            .prev,
            .next {
                &:hover {
                    background-color: rgba(0, 0, 0, 0);
                }
            }
        }
    }

    .each-doctor {
        flex-direction: column;

        .dt-content-left {
            width        : 100%;
            padding-right: 0;
            border       : none;

            .profile-doctor {
                .intro-doctor {
                    .content-right {
                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .dt-content-right {
            width       : 100%;
            padding-left: 0;

            .doctor-schedule {
                .doctor-schedule-container {
                    .all-available-time {
                        .time-content {
                            .time-content-btn-box {
                                justify-content: center;

                                .btn-time-booking {
                                    min-width: 142px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .doctor-detail-container {
        .intro-doctor {
            padding       : 0 15px;
            flex-direction: column;

            .content-left {
                display        : flex;
                justify-content: center;
            }

            .content-right {
                width: 100% !important;

                .up {}

                .down {
                    .like-share-plugin {}
                }
            }
        }

        .schedule-doctor {
            padding       : 0 15px;
            flex-direction: column;

            .content-left {
                width: 100% !important;

                .doctor-schedule {
                    .doctor-schedule-container {
                        .all-available-time {
                            .time-content {
                                .time-content-btn-box {
                                    justify-content: center;
                                }
                            }
                        }
                    }
                }
            }

            .content-right {
                width: 100% !important;
            }
        }

        .detail-infor-doctor-wrap {
            padding: 20px 15px !important;

            .detail-infor-doctor {}
        }
    }

    .on_department-register_walkin-wrapper,
    .register_walkin-wrapper {

        #register_walkin,
        #on_department-register_walkin {
            height    : 100%;
            max-height: 100% !important;

            .formbold-main-wrapper {
                background-color: #fff;
                padding         : 8px;
            }
        }
    }

    .toast {
        min-width: 100%;
    }


    .doctor-list-wrapper {

        .doctor-list {

            .doctor-item {
                .doctor-img {
                    height: 190px;
                }
            }
        }
    }

    .sort-bar__label {
        span {
            display: none !important;
        }

        .sort-icon {
            display: inline-block !important;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header-custome {
        max-width   : 1400px;
        margin-left : auto;
        margin-right: auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}